.elementor-835 .elementor-element.elementor-element-10c63c2:not(.elementor-motion-effects-element-type-background),
.elementor-835 .elementor-element.elementor-element-10c63c2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("./../../2025/07/Section.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-835 .elementor-element.elementor-element-10c63c2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 200px 0px 100px 0px;
}

.elementor-835 .elementor-element.elementor-element-10c63c2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-835 .elementor-element.elementor-element-56fa28a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-835 .elementor-element.elementor-element-4bb64c7:not(.elementor-motion-effects-element-type-background),
.elementor-835 .elementor-element.elementor-element-4bb64c7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-835 .elementor-element.elementor-element-4bb64c7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-4bb64c7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-primary);
}

.elementor-835 .elementor-element.elementor-element-177b4d7 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-cb41ed7:not(.elementor-motion-effects-element-type-background),
.elementor-835 .elementor-element.elementor-element-cb41ed7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-835 .elementor-element.elementor-element-cb41ed7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 60px 0px;
}

.elementor-835 .elementor-element.elementor-element-cb41ed7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-835 .elementor-element.elementor-element-653de76:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-835 .elementor-element.elementor-element-653de76>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1A3D76;
}

.elementor-835 .elementor-element.elementor-element-653de76>.elementor-element-populated,
.elementor-835 .elementor-element.elementor-element-653de76>.elementor-element-populated>.elementor-background-overlay,
.elementor-835 .elementor-element.elementor-element-653de76>.elementor-background-slideshow {
    border-radius: 23px 23px 23px 23px;
}

.elementor-835 .elementor-element.elementor-element-653de76>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-835 .elementor-element.elementor-element-653de76>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-text-editor {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    color: var(--e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-835 .elementor-element.elementor-element-4edc396 {
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-82a8721 {
    font-family: "Inter", Sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-82a8721 p {
    margin-bottom: 0px;
}

.elementor-835 .elementor-element.elementor-element-15d62e0:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-835 .elementor-element.elementor-element-15d62e0>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1A3D76;
}

.elementor-835 .elementor-element.elementor-element-15d62e0>.elementor-element-populated,
.elementor-835 .elementor-element.elementor-element-15d62e0>.elementor-element-populated>.elementor-background-overlay,
.elementor-835 .elementor-element.elementor-element-15d62e0>.elementor-background-slideshow {
    border-radius: 23px 23px 23px 23px;
}

.elementor-835 .elementor-element.elementor-element-15d62e0>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-835 .elementor-element.elementor-element-15d62e0>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-835 .elementor-element.elementor-element-d013f21 {
    text-align: right;
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-0bf4381 {
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-76854f5 {
    font-family: "Inter", Sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-28741c0:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-835 .elementor-element.elementor-element-28741c0>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1A3D76;
}

.elementor-835 .elementor-element.elementor-element-28741c0>.elementor-element-populated,
.elementor-835 .elementor-element.elementor-element-28741c0>.elementor-element-populated>.elementor-background-overlay,
.elementor-835 .elementor-element.elementor-element-28741c0>.elementor-background-slideshow {
    border-radius: 23px 23px 23px 23px;
}

.elementor-835 .elementor-element.elementor-element-28741c0>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-835 .elementor-element.elementor-element-28741c0>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-835 .elementor-element.elementor-element-d20afec {
    text-align: right;
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-dd87ef5 {
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-d6e12bb {
    font-family: "Inter", Sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-c486f54:not(.elementor-motion-effects-element-type-background),
.elementor-835 .elementor-element.elementor-element-c486f54>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("./../../2025/07/mission.png");
}

.elementor-835 .elementor-element.elementor-element-c486f54 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 80px 0px;
}

.elementor-835 .elementor-element.elementor-element-c486f54>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-835 .elementor-element.elementor-element-b075944>.elementor-element-populated {
    padding: 29px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-bb9c4d2>.elementor-widget-container {
    margin: 0px 0px 0px 184px;
    padding: 55px 55px 55px 55px;
}

.elementor-835 .elementor-element.elementor-element-bb9c4d2 {
    text-align: left;
}

.elementor-835 .elementor-element.elementor-element-bb9c4d2 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
}

.elementor-widget-image .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-button .elementor-button {
    background-color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-835 .elementor-element.elementor-element-5131899 .elementor-button {
    background-color: #131C15;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    fill: #A97C50;
    color: #A97C50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A97C50;
    padding: 10px 65px 10px 65px;
}

.elementor-835 .elementor-element.elementor-element-520c4b2 {
    padding: 60px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-a3b968f {
    text-align: center;
}

.elementor-835 .elementor-element.elementor-element-a3b968f .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-cb55409 {
    text-align: center;
}

.elementor-835 .elementor-element.elementor-element-a18a29d .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-abdee81 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-a825a96 {
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-8b622ca .elementor-button {
    background-color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    fill: #A97C50;
    color: #A97C50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A97C50;
}

.elementor-835 .elementor-element.elementor-element-8b622ca>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-8b622ca .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-835 .elementor-element.elementor-element-8b622ca .elementor-button .elementor-button-content-wrapper {
    gap: 18px;
}

.elementor-835 .elementor-element.elementor-element-ff0ab28 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-6e7e6cf .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-20139f5 {
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-81ecc26 .elementor-button {
    background-color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    fill: #A97C50;
    color: #A97C50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A97C50;
}

.elementor-835 .elementor-element.elementor-element-81ecc26>.elementor-widget-container {
    padding: 30px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-81ecc26 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-835 .elementor-element.elementor-element-81ecc26 .elementor-button .elementor-button-content-wrapper {
    gap: 18px;
}

.elementor-835 .elementor-element.elementor-element-34773dc .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-ac1be86 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-ec224ad {
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-e5eca18 .elementor-button {
    background-color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    fill: #A97C50;
    color: #A97C50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A97C50;
}

.elementor-835 .elementor-element.elementor-element-e5eca18>.elementor-widget-container {
    padding: 25px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-e5eca18 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-835 .elementor-element.elementor-element-e5eca18 .elementor-button .elementor-button-content-wrapper {
    gap: 18px;
}

.elementor-835 .elementor-element.elementor-element-6cdaa27 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-347327c .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-380d918 {
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-4f6da6a .elementor-button {
    background-color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    fill: #A97C50;
    color: #A97C50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A97C50;
}

.elementor-835 .elementor-element.elementor-element-4f6da6a>.elementor-widget-container {
    padding: 30px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-4f6da6a .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-835 .elementor-element.elementor-element-4f6da6a .elementor-button .elementor-button-content-wrapper {
    gap: 18px;
}

.elementor-835 .elementor-element.elementor-element-2027a25 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-827cece .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-fe47b34 {
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-d382a38 .elementor-button {
    background-color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    fill: #A97C50;
    color: #A97C50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A97C50;
}

.elementor-835 .elementor-element.elementor-element-d382a38>.elementor-widget-container {
    padding: 30px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-d382a38 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-835 .elementor-element.elementor-element-d382a38 .elementor-button .elementor-button-content-wrapper {
    gap: 18px;
}

.elementor-835 .elementor-element.elementor-element-1ffe402 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-06cfd47 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-b119feb {
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-9319099 .elementor-button {
    background-color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    fill: #A97C50;
    color: #A97C50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A97C50;
}

.elementor-835 .elementor-element.elementor-element-9319099>.elementor-widget-container {
    padding: 30px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-9319099 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-835 .elementor-element.elementor-element-9319099 .elementor-button .elementor-button-content-wrapper {
    gap: 18px;
}

.elementor-835 .elementor-element.elementor-element-e66911c {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-c8da88b .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #060606;
}

.elementor-835 .elementor-element.elementor-element-8575803 {
    font-family: "Inter", Sans-serif;
    font-weight: 400;
    color: #101010;
}

.elementor-835 .elementor-element.elementor-element-e0676d5:not(.elementor-motion-effects-element-type-background),
.elementor-835 .elementor-element.elementor-element-e0676d5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7;
}

.elementor-835 .elementor-element.elementor-element-e0676d5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 60px 0px;
}

.elementor-835 .elementor-element.elementor-element-e0676d5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-835 .elementor-element.elementor-element-006daf6 {
    text-align: center;
}

.elementor-835 .elementor-element.elementor-element-006daf6 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #060606;
}

.elementor-835 .elementor-element.elementor-element-dcb042b>.elementor-widget-container {
    padding: 0px 80px 0px 80px;
}

.elementor-835 .elementor-element.elementor-element-dcb042b {
    text-align: center;
    font-family: "Inter", Sans-serif;
    font-weight: 400;
    color: #101010;
}

.elementor-835 .elementor-element.elementor-element-9d7f25b>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 20px 20px 020px;
}

.elementor-835 .elementor-element.elementor-element-9d7f25b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-835 .elementor-element.elementor-element-eab3749>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-eab3749 .eael-infobox .infobox-icon {
    align-self: center;
}

.elementor-835 .elementor-element.elementor-element-eab3749 .eael-infobox .infobox-icon img {
    width: 600px;
    height: 280px;
}

.elementor-835 .elementor-element.elementor-element-eab3749 .eael-infobox.icon-on-left .infobox-icon {
    width: 600px;
    height: 280px;
}

.elementor-835 .elementor-element.elementor-element-eab3749 .eael-infobox.icon-on-right .infobox-icon {
    width: 600px;
    height: 280px;
}

.elementor-835 .elementor-element.elementor-element-eab3749 .eael-infobox .infobox-content .title {
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-eab3749 .eael-infobox .infobox-content p {
    color: #4d4d4d;
}

.elementor-835 .elementor-element.elementor-element-eab3749 .eael-infobox:hover .infobox-content h4 {
    transition: 100ms;
}

.elementor-835 .elementor-element.elementor-element-eab3749 .eael-infobox:hover .infobox-content p {
    transition: 100ms;
}

.elementor-835 .elementor-element.elementor-element-e02e952 {
    margin-top: -40px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box.elementor-view-framed .elementor-icon,
.elementor-widget-icon-box.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title,
.elementor-widget-icon-box .elementor-icon-box-title a {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-icon-box .elementor-icon-box-title {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-box:has(:hover) .elementor-icon-box-title,
.elementor-widget-icon-box:has(:focus) .elementor-icon-box-title {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-description {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    color: var(--e-global-color-text);
}

.elementor-835 .elementor-element.elementor-element-8e522ce {
    --icon-box-icon-margin: 0px;
}

.elementor-835 .elementor-element.elementor-element-8e522ce .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-8e522ce.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-8e522ce.elementor-view-framed .elementor-icon,
.elementor-835 .elementor-element.elementor-element-8e522ce.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-bbd04f5);
    color: var(--e-global-color-bbd04f5);
    border-color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-8e522ce .elementor-icon {
    font-size: 25px;
}

.elementor-835 .elementor-element.elementor-element-8e522ce .elementor-icon-box-title,
.elementor-835 .elementor-element.elementor-element-8e522ce .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-835 .elementor-element.elementor-element-8e522ce .elementor-icon-box-description {
    color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-61d8762 {
    --icon-box-icon-margin: 0px;
}

.elementor-835 .elementor-element.elementor-element-61d8762 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-61d8762.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-61d8762.elementor-view-framed .elementor-icon,
.elementor-835 .elementor-element.elementor-element-61d8762.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-bbd04f5);
    color: var(--e-global-color-bbd04f5);
    border-color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-61d8762 .elementor-icon {
    font-size: 25px;
}

.elementor-835 .elementor-element.elementor-element-61d8762 .elementor-icon-box-title,
.elementor-835 .elementor-element.elementor-element-61d8762 .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-835 .elementor-element.elementor-element-61d8762 .elementor-icon-box-description {
    color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-422f9b6 {
    --icon-box-icon-margin: 0px;
}

.elementor-835 .elementor-element.elementor-element-422f9b6 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-422f9b6.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-422f9b6.elementor-view-framed .elementor-icon,
.elementor-835 .elementor-element.elementor-element-422f9b6.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-bbd04f5);
    color: var(--e-global-color-bbd04f5);
    border-color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-422f9b6 .elementor-icon {
    font-size: 25px;
}

.elementor-835 .elementor-element.elementor-element-422f9b6 .elementor-icon-box-title,
.elementor-835 .elementor-element.elementor-element-422f9b6 .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-835 .elementor-element.elementor-element-422f9b6 .elementor-icon-box-description {
    color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-5232fee .elementor-button {
    background-color: var(--e-global-color-bbd04f5);
    height: 45px;
    width: 500px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-flex;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px 5px 5px 5px;
}

.elementor-835 .elementor-element.elementor-element-5232fee>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-90dc76e .elementor-button {
    background-color: var(--e-global-color-bbd04f5);
}

.elementor-835 .elementor-element.elementor-element-90dc76e>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-a37a262 {
    padding: 0px 0px 80px 0px;
}

.elementor-widget-tabs .elementor-tab-title,
.elementor-widget-tabs .elementor-tab-title a {
    color: var(--e-global-color-primary);
}

.elementor-widget-tabs .elementor-tab-title.elementor-active,
.elementor-widget-tabs .elementor-tab-title.elementor-active a {
    color: var(--e-global-color-accent);
}

.elementor-widget-tabs .elementor-tab-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-tabs .elementor-tab-content {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tabs-wrapper {
    width: 30%;
}

.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tab-title,
.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tab-title:before,
.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tab-title:after,
.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tab-content,
.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tabs-content-wrapper {
    border-width: 0px;
}

.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tab-title,
.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tab-title a {
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tab-title.elementor-active,
.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tab-title.elementor-active a {
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tab-title {
    font-family: "Roboto", Sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-835 .elementor-element.elementor-element-fa15b76 .elementor-tab-content {
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-ebf669a:not(.elementor-motion-effects-element-type-background),
.elementor-835 .elementor-element.elementor-element-ebf669a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("./../../2025/07/Section-1.png");
}

.elementor-835 .elementor-element.elementor-element-ebf669a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 392px 392px 392px 392px;
}

.elementor-835 .elementor-element.elementor-element-ebf669a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-835 .elementor-element.elementor-element-c1d7a09>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-835 .elementor-element.elementor-element-c1d7a09>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-835 .elementor-element.elementor-element-6dcab90>.elementor-widget-container {
    margin: -72px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-6dcab90 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 96px;
    font-weight: 500;
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-b3fa05d>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-835 .elementor-element.elementor-element-b3fa05d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-835 .elementor-element.elementor-element-dd17b14>.elementor-widget-container {
    padding: 44px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-dd17b14 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 70px;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}

.elementor-835 .elementor-element.elementor-element-fbf2f14 {
    padding: 30px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-e8ac238 {
    text-align: center;
}

.elementor-835 .elementor-element.elementor-element-e8ac238 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-64c0828 {
    text-align: center;
}

.elementor-835 .elementor-element.elementor-element-39e9ba8 {
    font-family: "Inter", Sans-serif;
    font-size: 70px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-c35ca5d img {
    height: 119px;
}

.elementor-835 .elementor-element.elementor-element-ed6c203 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 19.53px;
    font-weight: 500;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-8ba3d0b {
    font-family: "Inter", Sans-serif;
    font-size: 12.39px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-b1d5c96 {
    font-family: "Inter", Sans-serif;
    font-size: 70px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-f637e6e img {
    height: 119px;
}

.elementor-835 .elementor-element.elementor-element-7f03282 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 19.53px;
    font-weight: 500;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-40c23d9 {
    font-family: "Inter", Sans-serif;
    font-size: 12.39px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-5fba6c6 {
    font-family: "Inter", Sans-serif;
    font-size: 70px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-decb8c1 img {
    height: 119px;
}

.elementor-835 .elementor-element.elementor-element-34985be .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 19.53px;
    font-weight: 500;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-4bc4614 {
    font-family: "Inter", Sans-serif;
    font-size: 12.39px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-16a3a0d>.elementor-widget-container {
    padding: 0px 0px 0px 28px;
}

.elementor-835 .elementor-element.elementor-element-16a3a0d .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 34.18px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-7f7a444 {
    text-align: left;
}

.elementor-835 .elementor-element.elementor-element-7f7a444 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20.11px;
    font-weight: 500;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-13c3a9e {
    font-family: "Inter", Sans-serif;
    font-size: 15.25px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-caa645a {
    text-align: left;
}

.elementor-835 .elementor-element.elementor-element-caa645a .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20.11px;
    font-weight: 500;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-1f79b6d {
    font-family: "Inter", Sans-serif;
    font-size: 15.25px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-b4eecda {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-835 .elementor-element.elementor-element-cc23a9a {
    margin-top: -238px;
    margin-bottom: 0px;
}

.elementor-835 .elementor-element.elementor-element-08e0118 {
    text-align: left;
}

.elementor-835 .elementor-element.elementor-element-08e0118 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20.11px;
    font-weight: 500;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-6e41863 {
    font-family: "Inter", Sans-serif;
    font-size: 15.25px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-ab603a2 {
    text-align: left;
}

.elementor-835 .elementor-element.elementor-element-ab603a2 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20.11px;
    font-weight: 500;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-e5f5b93 {
    font-family: "Inter", Sans-serif;
    font-size: 15.25px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-af47b4a {
    margin-top: -70px;
    margin-bottom: -70px;
}

.elementor-835 .elementor-element.elementor-element-77b0a49 {
    text-align: left;
}

.elementor-835 .elementor-element.elementor-element-77b0a49 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20.11px;
    font-weight: 500;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-0739ee1 {
    font-family: "Inter", Sans-serif;
    font-size: 15.25px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-02b6f8b {
    text-align: left;
}

.elementor-835 .elementor-element.elementor-element-02b6f8b .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20.11px;
    font-weight: 500;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-d626d51 {
    font-family: "Inter", Sans-serif;
    font-size: 15.25px;
    font-weight: 400;
    color: #1E1E1E;
}

.elementor-835 .elementor-element.elementor-element-dd6fe03 .elementor-button {
    background-color: #FFFFFF;
    fill: var(--e-global-color-ab11b15);
    color: var(--e-global-color-ab11b15);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 15px 220px 15px 220px;
}

.elementor-835 .elementor-element.elementor-element-dd6fe03>.elementor-widget-container {
    padding: 59px 0px 0px 488px;
}

.elementor-widget-divider {
    --divider-color: var(--e-global-color-secondary);
}

.elementor-widget-divider .elementor-divider__text {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-835 .elementor-element.elementor-element-72ada6a {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-835 .elementor-element.elementor-element-72ada6a .elementor-divider-separator {
    width: 100%;
}

.elementor-835 .elementor-element.elementor-element-72ada6a .elementor-divider {
    padding-block-start: 15px;
    padding-block-end: 15px;
}

.elementor-835 .elementor-element.elementor-element-62f45ab .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 33.63px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-e810018>.elementor-widget-container {
    padding: 135px 0px 0px 378px;
}

.elementor-835 .elementor-element.elementor-element-1b6455f {
    padding: 30px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-5194933 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 33.09px;
    font-weight: 600;
    color: var(--e-global-color-ab11b15);
}

.elementor-835 .elementor-element.elementor-element-11f7324 {
    font-family: "Roboto", Sans-serif;
    font-size: 17.16px;
    font-weight: 400;
    color: #656565;
}

.elementor-835 .elementor-element.elementor-element-a1a5621>.elementor-widget-container {
    margin: -30px 0px 0px 30px;
    padding: 0px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-a1a5621 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20.63px;
    font-weight: 600;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-1c59632>.elementor-widget-container {
    padding: 24px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-f58cb96>.elementor-widget-container {
    padding: 85px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-f58cb96 {
    font-family: "Inter", Sans-serif;
    font-size: 18.91px;
    font-weight: 500;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-6a06cc9>.elementor-widget-container {
    padding: 116px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-6a06cc9 {
    font-family: "Inter", Sans-serif;
    font-size: 18.91px;
    font-weight: 500;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-d153a1e>.elementor-widget-container {
    padding: 120px 0px 0px 0px;
}

.elementor-835 .elementor-element.elementor-element-d153a1e {
    font-family: "Inter", Sans-serif;
    font-size: 18.91px;
    font-weight: 500;
    color: #000000;
}

.elementor-835 .elementor-element.elementor-element-ef9ee3b:not(.elementor-motion-effects-element-type-background),
.elementor-835 .elementor-element.elementor-element-ef9ee3b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("./../../2025/07/Section-2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-835 .elementor-element.elementor-element-ef9ee3b {
    top: 0px;
    bottom: auto;
    z-index: 10;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-835 .elementor-element.elementor-element-ef9ee3b+.wpr-hidden-header {
    top: 0px;
}

.elementor-835 .elementor-element.elementor-element-ef9ee3b+.wpr-hidden-header-flex {
    top: 0px;
}

.wpr-hidden-header {
    z-index: 10;
}

.wpr-hidden-header-flex {
    z-index: 10;
}

.elementor-835 .elementor-element.elementor-element-ef9ee3b>.elementor-container {
    min-height: 400px;
}

.elementor-835 .elementor-element.elementor-element-ef9ee3b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(max-width:1024px) {
    .elementor-835 .elementor-element.elementor-element-ef9ee3b {
        top: 0px;
        bottom: auto;
    }

    .elementor-835 .elementor-element.elementor-element-ef9ee3b+.wpr-hidden-header {
        top: 0px;
    }

    .elementor-835 .elementor-element.elementor-element-ef9ee3b+.wpr-hidden-header-flex {
        top: 0px;
    }
}

@media(min-width:768px) {
    .elementor-835 .elementor-element.elementor-element-653de76 {
        width: 30%;
    }

    .elementor-835 .elementor-element.elementor-element-fbffee0 {
        width: 5%;
    }

    .elementor-835 .elementor-element.elementor-element-15d62e0 {
        width: 30%;
    }

    .elementor-835 .elementor-element.elementor-element-da916cb {
        width: 107.001%;
    }

    .elementor-835 .elementor-element.elementor-element-d15c8e0 {
        width: 185.913%;
    }

    .elementor-835 .elementor-element.elementor-element-4278204 {
        width: 5%;
    }

    .elementor-835 .elementor-element.elementor-element-28741c0 {
        width: 30%;
    }

    .elementor-835 .elementor-element.elementor-element-baa6a1d {
        width: 50%;
    }

    .elementor-835 .elementor-element.elementor-element-93a509a {
        width: 25%;
    }

    .elementor-835 .elementor-element.elementor-element-bacab24 {
        width: 24.664%;
    }

    .elementor-835 .elementor-element.elementor-element-022306c {
        width: 50%;
    }

    .elementor-835 .elementor-element.elementor-element-7dff219 {
        width: 25%;
    }

    .elementor-835 .elementor-element.elementor-element-d5f1376 {
        width: 24.664%;
    }

    .elementor-835 .elementor-element.elementor-element-4751c05 {
        width: 50%;
    }

    .elementor-835 .elementor-element.elementor-element-7893ad2 {
        width: 25%;
    }

    .elementor-835 .elementor-element.elementor-element-5981485 {
        width: 24.664%;
    }

    .elementor-835 .elementor-element.elementor-element-8ca6159 {
        width: 40%;
    }

    .elementor-835 .elementor-element.elementor-element-be7c03c {
        width: 26.332%;
    }
}

@media(min-width:1025px) {

    .elementor-835 .elementor-element.elementor-element-10c63c2:not(.elementor-motion-effects-element-type-background),
    .elementor-835 .elementor-element.elementor-element-10c63c2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}

@media(max-width:767px) {
    .elementor-835 .elementor-element.elementor-element-bb9c4d2 {
        text-align: left;
    }

    .elementor-835 .elementor-element.elementor-element-bb9c4d2 .elementor-heading-title {
        font-size: 9px;
    }

    .elementor-835 .elementor-element.elementor-element-c32c842 {
        width: 10%;
    }

    .elementor-835 .elementor-element.elementor-element-39e9ba8 p {
        margin-bottom: 0px;
    }

    .elementor-835 .elementor-element.elementor-element-01433d7 {
        width: 20%;
    }

    .elementor-835 .elementor-element.elementor-element-07df2e9 {
        width: 70%;
    }

    .elementor-835 .elementor-element.elementor-element-1a8d382 {
        width: 10%;
    }

    .elementor-835 .elementor-element.elementor-element-d77784b {
        width: 20%;
    }

    .elementor-835 .elementor-element.elementor-element-f0f2f22 {
        width: 70%;
    }

    .elementor-835 .elementor-element.elementor-element-0324a1c {
        width: 10%;
    }

    .elementor-835 .elementor-element.elementor-element-7586581 {
        width: 20%;
    }

    .elementor-835 .elementor-element.elementor-element-dc2b413 {
        width: 70%;
    }

    .elementor-835 .elementor-element.elementor-element-08e0118>.elementor-widget-container {
        padding: 29px 0px 0px 0px;
    }

    .elementor-835 .elementor-element.elementor-element-6e41863>.elementor-widget-container {
        padding: 72px 0px 0px 0px;
    }

    .elementor-835 .elementor-element.elementor-element-ef9ee3b {
        top: 0px;
        bottom: auto;
    }

    .elementor-835 .elementor-element.elementor-element-ef9ee3b+.wpr-hidden-header {
        top: 0px;
    }

    .elementor-835 .elementor-element.elementor-element-ef9ee3b+.wpr-hidden-header-flex {
        top: 0px;
    }
}

/* Start custom CSS for column, class: .elementor-element-296b4a9 */
.elementor-835 .elementor-element.elementor-element-296b4a9 .elementor-widget-wrap {
    height: 100%;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-cb6ca96 */
.elementor-835 .elementor-element.elementor-element-cb6ca96 .elementor-widget-wrap {
    height: 100%;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6b283eb */
.elementor-835 .elementor-element.elementor-element-6b283eb .elementor-widget-wrap {
    height: 100%;
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-995508b */
.elementor-835 .elementor-element.elementor-element-995508b .elementor-column {
    display: flex;
    flex-direction: column;
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-c4b7a98 */
.elementor-835 .elementor-element.elementor-element-c4b7a98 .elementor-widget-wrap {
    height: 100%;
}

/* End custom CSS */